*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
a
{
    text-decoration: none;
    color: black;
    font-size: large;
}
body
{
    background-image: url("../images/blue_background.jpg");
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
footer
{   
    margin: 50px 0 0 0;
    border-top: solid black 3px;
    width: 100%;
    padding-top: 5px;
    background-color: whitesmoke;
}
h1
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
img
{
    background-color: grey;
    width: 250px;
    height: 250px;
}
.border-top
{
    margin: 10px;
    padding: 10px;
    border-top: black solid 1px;
}
.border-bottom
{
    margin: 10px;
    padding: 10px;
    border-bottom: black solid 1px;
} 
.button
{
    background-image: url("../images/blue_background.jpg");
    border: solid black 2px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}
.contact-info
{
    font-size: 20px;
    padding: 15px;
    text-decoration: underline;
    color: blue;
}
.content
{
    background-color: whitesmoke;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 5px;
}
.inline-1
{
    display: inline-block;
    width: 100%;
}
.inline-2
{
    display: inline-block;
    width: 48%;
}
.inline-3
{
    display: inline-block;
    width: 30%;
}
.inline-4
{
    display: inline-block;
    width: 23%;
}
.nav-bar
{
    padding: 10px;
    background-color: whitesmoke;
    border-bottom: solid black 3px;
}
.nav-link
{
    padding: 5px;
}
.nav-header
{
    padding: 10px;
}
.pic
{
    width: 300px;
    height: 200px;

}
.push
{
    flex: 1;
}
.right-line-break
{
    border-right: 1px solid black;
}
.text-padding
{
    padding: 20px;
    vertical-align: top;
    text-align: left;
}
.wrapper
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
#about_me_text
{
    vertical-align: top;
}
#about-me-holder
{
    margin: 10px auto;
    border-top: black solid 1px;
    border-bottom: black solid 1px;

}
#copyright-text
{
    padding-top: 10px;
    padding-bottom: 2px;
}


@media only screen and (max-width: 1200px) 
{
    .wrapper
    {
        width: 90%;
    }
}

@media only screen and (max-width: 775px) 
{
    .inline-2
    {
        display: block;
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width: 400px) 
{
    img 
    {
        width: 150px;
        height: 150px;
    }
    .button
    {
        font-size: 15px;
    }
}
